@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');

.mainContent {
    padding-top: 35px;
}

.first {
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hope {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 50px;
  align-items: center;
}

.descHope {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 25px;
  font-size: 30px;
  line-height: normal;
  text-align: justify;
  margin-right: 10px;
  padding-right: 20px;
}

.second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image2{
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 45px;
  font-size: 30px;
  line-height: normal;
  text-align: justify;
  padding-left: 20px;
}

.btn.btn-hope {
  font-family: 'Ubuntu', sans-serif;
  font-size: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
}