.mainContent {
    padding-top: 35px;
}

.image {
  float: left;
}

.hope {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 30px;
}

.descHope {
  margin-top: 25px;
  font-size: 30px;
  line-height: normal;
  text-align: justify;
  margin-right: 10px;
}
