@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');

.query{
    text-align: center;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.titleOfPage {
    font-family: 'Ubuntu', sans-serif;
}

.content{
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 10px;
}

.accordion-item {
    border-radius: 10px;
    margin-bottom: 10px;
}

.accordion-header {
    border-radius: 10px;
}

.accordion-body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}

.accordion-button.collapsed {
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
}

.accordion-button {
    font-size: 22px !important;
    font-family: 'Ubuntu', sans-serif;
}