@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');

.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

.back {
    max-height: 100vh;
}
.firstContent {
    padding-top: 170px;
}

.info-head {
    color: #28a7da;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    padding-bottom: 35px;
    text-decoration: underline rgba(255, 255, 255, 0.897);
}

.info-paragraph {
    color: white;
    font-size: 30px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 108vh;
}

.about {
    flex-direction: column;
}

.abt {
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.descAbout {
    margin-top: 30px;
    font-size: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.contact {
    background-color: #F8F8F8;
    flex-direction: column;
    height: 95vh;
}

.card.contactForm {
    max-width: 80%;
    margin-left: 110px;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px lightgrey;
}

.form-label::after {
    content: " *";
    color: red;
}

.form-label {
    font-family: 'Ubuntu', sans-serif;
}

.btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}
.cnt {
    font-family: 'Ubuntu', sans-serif;
}

.btn-res {
    margin-left: 10px;
}