@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.nav-link:hover {
    background: #ff6a5f;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.back {
    background: rgba(10, 10, 10, 0.8) url('../img/bg2.jpg');
    background-size: cover;
    background-blend-mode: overlay;
}

.myNav {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-brand {
    margin-right: -60px;
}

.mylogo {
    width: 40%;
    height: auto;
}