.nav-link:hover {
    background: #ffcc5f;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
}

.back {
    background: rgba(20, 20, 20, 0.7) url('../img/bg2.jpg');
    background-size: cover;
    background-blend-mode: overlay;
}

.myNav {
    position: fixed;
    width: 100%;
    top: 0;
}